<%- include('partials/header');  %>



<h1 class="">Login</h1>

<div class="form-group">
<form method="post" action="/login" >
<label for="username">Enter Username</label>
<input type="text" name="username" class="form-control">
<br>
<label for="password">Enter Password</label>
<input type="password" name="pass" class="form-control">
</div>
<button onclick="submit" class="btn btn-primary">Login</button>



</form>














<%- include('partials/footer');   %>